{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}

<div class="page-title">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">My Profile</h4>
                        <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row mb-2">
                                <div class="profile-title">
                                    <div class="d-flex">
                                        <img class="img-70 rounded-circle" alt="" src="{% if request.user.image %}{{ request.user.image.url }}{% else %}https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png{% endif %}">
                                        <div class="flex-grow-1 px-2">
                                            <h4 class="mb-1">{{ request.user.name }}</h4>
                                            <p>{{ request.user.role }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                {{ profile_form.name }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email Address</label>
                                {{ profile_form.email }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Phone Number</label>
                                {{ profile_form.phone_number }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Image</label>
                                {{ profile_form.image }}
                            </div>
                            <div class="form-footer">
                                <button type="submit" name="profile_form" class="btn btn-primary btn-block">Update Profile</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Change Password</h4>
                        <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Current Password</label>
                                {{ password_form.old_password }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">New Passowrd</label>
                                {{ password_form.new_password1 }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confirm New Passowrd</label>
                                {{ password_form.new_password2 }}
                            </div>
                            <div class="form-footer">
                                <button type="submit" name="password_form" class="btn btn-primary btn-block">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}